form {
  display: flex;
  flex-direction: column;
}

input {
  background: #aceed0;
  border-radius: 5px 0px 0px 5px;
  border: none;
  height: 30px;
  padding: 5px 10px;
  box-shadow: 5px 5px 25px rgb(54, 53, 53);
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}
